<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://lh3.googleusercontent.com/proxy/lN1kwxnMy3NnVU4el6e7jQCEnrGIx2e3Sh6bNnwISqV7SUqIuyCSSMSMxyfe21dQIed2YoCkNcQacGHjvzl0OHwWw0BY80q-of6tpUVbYEp2l2iKgGnm5J-owho35W4M_d0z4P_fJDDgJ49KsFleSQFEfA);">
  <div class="container">
    <h1>Find a Hiking, Climbing, Mountaineering or Skiing Guide<strong>
    <p>Find local experts to lead you to amazing places.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>